:root{
    --red:#E50914;
    --black:#000000;
    --light-color:#181818;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: sans-serif;
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;

}
html{
    font-size: 62.5%;
   
    scroll-padding-top: 5.5rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:transparent;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    box-shadow: var(--box-shadow);
    position: relative;

}
header .logo{
    color: white;
    font-size: 2.5rem;
    font-weight:bolder;
}
header .logo i{
    color: red;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #ffff;
    align-items: center;
}

header .navbar a:hover{    
    background: var(--red);
}


header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: white;
    border-radius: 50%;
    background: var(--red);
    position: relative;
}
header .icons i:hover,
header .icons a:hover{
    color: var(--red);
    background: #ffff;
    transform: rotate(360deg);
}
.content{
    text-align: center;
}
.backvid{
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    color: #ffff;
    font-weight: 600;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #ffff;
    font-size: larger;   
}