*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-size: 9pt;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:transparent;
    padding: 1rem 7%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    box-shadow: black;
    

}
header .logo{
    color:#ffff;
    font-size: 2.5rem;
    font-weight:bold;
    right: 0;

}
header .logo i{
    color: red;
    font-size: 30pt;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #ffff;
}

header .navbar a:hover{    
    background: red;
}


header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: white;
    border-radius: 50%;
    background: red;
}
header .icons i:hover,
header .icons a:hover{
    color: red;
    background: #ffff;
    transform: rotate(360deg);
}
.container{
    position: relative;
}
.container .slide-container .slide{
    min-height: 100vh;
    position:relative;
    overflow: hidden;
    z-index: -1;
}
.container .slide-container .slide video{
    position: absolute;
    top:0;left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation:fadeIn .4s linear ;
}
.container .slide-container .slide .content{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content:first baseline;
    flex-flow: column;
    background:transparent;
    text-align: center;
    gap: 15px;
}
.container .slide-container .slide .content h3{
    font-size: 60px;
    color: white;
    text-shadow: 0 5px 10px rgba(0,0,0,0.3);
    animation: animate .4s linear .4s backwards;
    left: 0;
}
.container .slide-container .slide .content p{
    font-size: 15px;
    color: white;
    padding: 5px 0;
    font-weight: lighter;
    text-shadow: 0 5px 10px rgba(0,0,0,0.3);
    max-width: 700px;
    animation: animate .4s linear .6s backwards;
}
.container .slide-container{
    display:none;
}
.container .slide-container.active{
    display:block;
}
.container #next,
.container #prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index:100;
    background-color: white;
    color: black;
    font-weight: bold;
    height: 60px;
    width: 50px;
    line-height: 55px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;

}
.container #next{
    right: 0;
}
.container #prev{
    left: 0;
}
button{
    width: 115px;
    height:45px;
   color: red;
   cursor: pointer;
   text-align: center;
   justify-content: baseline;
}










